/* common-styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('background-texture.jpg') repeat;
}

.linkoutline {
    text-decoration: none;
    color: #229ED9;
}

.linkoutline a:hover {
    text-decoration: none;
    color: #12475f;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5em;
}

h3 {
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    background-color: #eee;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    color: white;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}

section.nextpage {
    max-width: 1125px;
    margin: 20px auto 125px;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Дополнительные стили для ссылки внутри "h2" в секции "Наше портфолио" */
section.nextpage h2 a {
    color: #0e0e0e;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Добавляем анимацию для свойства transform */
    display: inline-block; /* Добавляем блочное отображение для применения размера текста */
}

section.nextpage h2 a:hover {
    transform: scale(1.05); /* Увеличиваем размер текста при наведении */
}

section.nextpage h2:first-child {
    margin-bottom: 40px;
}


