/* common-styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('background-texture.jpg') repeat;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5em;
}

h3 {
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    background-color: #eee;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
    color: white;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
}
